/*

Neon Green: #6FFF00
Neon Pink: #FF00FF
Neon Yellow: #FFFF00
Neon Blue: #4D4DFF
Neon Red: #FE0001
Neon Orange: #FF4105
Neon Purple: #993CF3

 */

html {
    box-sizing: border-box;
    min-height: 100vh;
}

*, *:before, *:after {
    box-sizing: inherit; /* https://css-tricks.com/box-sizing/ */
}

body {
    background: #fafafa;
}

pre, code, blockquote {
    background: #ededed !important;
    color: #666;
}

blockquote {
    border: 0;
    border-left: 5px solid #bbb;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 12px 1.5rem;
}

pre {
    padding: 10px;
}

img {
    max-width: 100%;
}

/*

    color: #993CF3;

*/

a {
    color: #2389d7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 768px) {
    .hide-on-desktop {
        display: none;
    }
}

.tpl-gutenberg-page {
    display: flex;
    flex-flow: row wrap;
    float: left;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

/** Right
 ======================================= */

.tpl-gutenberg-right {
    flex: 400px 1;
}

.tpl-gutenberg-right-content {
    clear: both;
    display: block;
    margin: 0 auto;
    max-width: 800px;
    padding: 3em 2em 2em;
    width: 100%;
}

.tpl-gutenberg-right footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: #666;
    margin: 0 auto;
    max-width: 800px;
    padding: 3em 2em 8em;
    text-align: center;
    width: 100%;
}

.tpl-gutenberg-breadcrumb {
    background: #fff;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    left: 0;
    padding: 2em;
    position: fixed;
    width: 100%;
}

.tpl-gutenberg-breadcrumb ul {
    margin: 0;
    padding: 0;
}

.quiqqer-breadcrumb,
.quiqqer-breadcrumb-container {
    float: left;
}

.quiqqer-breadcrumb .fa-angle-right:before {
    content: "/" !important;
}

/** Left
 ======================================= */

/*
    background: #111625;
*/

.tpl-gutenberg-left {
    background: #f1f1f1;
    flex: 400px 0;
    overflow: hidden;
    padding: 10px;
    transition: all 250ms linear;
}

.tpl-gutenberg-left-container {
    position: fixed;
    width: 380px;
}

/*

text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1),
    0 0 40px #993CF3,
    0 0 70px #993CF3,
    0 0 80px #993CF3,
    0 0 100px #993CF3;

*/
.tpl-gutenberg-left-logo {
    padding: 4em;
    text-align: center;
    width: 100%;
}

.tpl-gutenberg-left-logo .fa {
    font-size: 120px;
}

/** MENU
 ======================================= */

.tpl-gutenberg-left-hide {
    /* 0 does not work so we have to use a small number */
    /* Start our small */
    flex: .00001;
    padding: 0;
    transition: all 250ms linear;
}

.tpl-gutenberg-left-hide .tpl-gutenberg-left-container {
    display: none;
}

.quiqqer-navigation ul {
    display: block;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 80%;
}

.quiqqer-navigation li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    float: left;
    list-style-type: none;
    margin: 0 !important;
    padding: 0.7em 0 !important;
    text-align: right;
    width: 100%;
}

.quiqqer-navigation li .fa {
    display: none;
}

.tpl-gutenberg-menu-button {
    cursor: pointer;
    float: left;
    font-size: 30px;
    left: 0;
    line-height: 100px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100px;
    z-index: 2;
}

/*
.quiqqer-navigation a {
    color: #fff;
}
*/
@media screen and (max-width: 1000px) {
    .tpl-gutenberg-left {
        display: none;
    }
}

/** pagination
 ================================================== */

.quiqqer-sheets-desktop {
    clear: both;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.quiqqer-sheets-desktop a,
.quiqqer-sheets-desktop span {
    border-radius: 0;
    color: #5d5d5d;
    display: inline-block;
    float: none !important;
    margin-right: 2px !important;
    padding: 0 15px;
}

.quiqqer-sheets-desktop a:hover {
    color: #fff;
}

.quiqqer-sheets-desktop .quiqqer-sheets-desktop-current {
    background: #D9D6D7;
    border: 1px solid #D9D6D7;
    border-radius: 0;
    color: #333;
    line-height: 30px;
}

.quiqqer-sheets-desktop-disabled {
    color: #ccc !important;
    border-color: #ccc !important;
}

.quiqqer-pagination .quiqqer-sheets-desktop:last-child {
    margin: 40px 0;
}

